/* .succes{
    color: green;
}

.error {
    color: red;
}

* {
    padding: 0;
    margin: 0;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./mesr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s;
}

.text {
    width: 400px;
    height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn {
    max-width: 120px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    transition: 1s;
    font-weight: 600;
}

.btn:hover {
    background-color: blue;
    transform: scale(1.2);
}

.text__hidden {
    width: 600px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    position: absolute;
    background-color: grey;
    z-index: 999999999;;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.hidden, .overlay__hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  } */